 *{margin: 0;padding: 0;}
 html{font-size: 50px;}
 body{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: "微软雅黑";
}
@keyframes rotate{
0%   {transform:rotate(0deg);}
100% {transform:rotate(360deg);}
}

@-webkit-keyframes rotate{
0%   {-webkit-transform:rotate(0deg);}

100% {-webkit-transform:rotate(360deg);}
}
.swiper-container{
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
.swiper-slide{
	
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.swiper-pagination-bullet-active{
	opacity: 1;
	background-color: blue;
}

/*音乐箭头图标*/
.music{
 	position: fixed;
 	right: 10px;
 	top: 10px;
 	width: 44px;
 	height: 44px;
 	background: url(../images/music.png) no-repeat;
	z-index: 100;
	
	}
	.musicanimation{animation:rotate 2s linear infinite ;
	-webkit-animation:rotate 2s linear infinite ;}
	/*.arrow{
		position: fixed;
		left: 2.4rem;
		top:87%;

		background: url("../images/arrow.png") no-repeat;
		
		width: 1.6rem;
		height: 1.4rem;
		z-index: 100;
	}
*/
/*第一屏*/
.page1{
	position:relative;
	/* width: 100%;
	 height: 100%;
	 overflow: hidden;*/
	}


	.page1 .img{
		position: absolute;
		width: 6rem;
		height: 5.5rem;
		left: 0.18rem;
		top:4.5rem;
		
	}
	.page1 img{
		display: block; 
		width: 100%;
		height: 100%;}
	.page1 ul{
		margin-top: 1rem;
	}
	.page1 li{
		list-style: none;
		font-family: "微软雅黑";
		font-size: 0.5rem;
		font-weight: bold;
		color:#94871f;
		padding-left: 0.5rem;
	}
	.page1 .hello{
		position: absolute; 
		font-size: 0.4rem;
		font-family: "微软雅黑";
		left: 2.7rem;
		top:0.45rem;
		color:#87bb58;
	}

	.page1 .meicuo{
		position: absolute;
		font-family: "微软雅黑";
		font-size: 0.33rem;
		left: 2rem;
		top:1.5rem;
		color:#87bb58;
	}
	.page1 .yingpin{
		position: absolute;
		top:2.5rem;
		left: 1.5rem;
		font-size: 0.57rem;
		color:#716f09;
	}


/*第二屏*/
.page2{
	position: relative;
	
	width: 100%;height: 100%;
	overflow: hidden;

	}
	.page2 .head{
		position: absolute;
		width: 2rem;
		height: 2rem;
		border-radius:50%;
		top:1.5rem;
		left:0.35rem;
		overflow: hidden;
	}
	.page2 .head img{
		width: 100%;
		height: 100%;
	}
	.page2 .message{
		position: absolute;
		left:2.5rem;
		top:1rem;
		color:#a3cac8; 
		letter-spacing: 5px;
	}
	.page2 p {
		font-size:0.45rem;
		margin-bottom: 0.4rem;
	}
	.page2 .message2{
		margin-left: 0.5rem;
		position: absolute;
		top: 4rem;
		color:#89bbb7;
		letter-spacing: 5px;
		z-index: 95;
	}
	.page2 .pic img{
		font-size: 0.45rem;
		position: absolute;
		top:5rem;
		left: 4rem;
		z-index: 95;
	}
	.page2 .pic2 img{
		position: absolute;
		top:4rem;
		left:1.3rem;
		z-index: 90;
	}


/*第三屏*/
.page3{
	position: relative;
	
	}
	.page3 .box{
		position: absolute;
		top:3rem;
		left: 1.2rem;
		 width: 4rem;
		 height: 4rem;
		 border: 2px dashed #faf;
		 border-radius: 2rem;
	}
	.page3 .box1 img{
		position: absolute;
		top:1rem;
		left:3rem;
		width: 2.6rem;
		height: 2.6rem;
		border-radius: 1.3rem;
	}
	.page3 .box2 img{
		position: absolute;
		top:4.7rem;
		left:3.7rem;
		width: 2.2rem;
		height: 2.2rem;
		border-radius: 1.1rem;
	}
	.page3 .box3 img{
		position: absolute;
		top:5rem;
		left:0.9rem;
		width: 1.8rem;
		height: 1.8rem;
		border-radius: 0.9rem;
	}
	.page3 .box4 img{
		position: absolute;
		top:3rem;
		left:0.8rem;
		width: 1.2rem;
		height: 1.2rem;
		border-radius: 0.6rem;
	}

	.page3 .box{animation:rotate 5s linear 2s infinite ;
		-webkit-animation:rotate 5s linear 2s infinite ;
	}


/*第四屏*/
.page4{
	position: relative;
	padding-left: 0.7rem;
	padding-right: 0.6rem;
	}
	.page4 .pic{
		position: absolute;
		top: 1rem;
		left: 2rem;
	}
	.page4 p{
		display: block;
		width: 5rem;
		position: absolute;
		line-height: 0.7rem;
		top: 3rem;
		font-size: 0.33rem;
		color:#6db0f9;
		z-index: 95;
	}
	.page4 .pic2{
		position: absolute;
		top:5.5rem;
		z-index: 90;
	}


/*第五屏*/
.page5{
	position: relative;
	text-align: center;
	font-size: 0.4rem;
	background: url(../images/aixin.gif) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	color:#b12323;
	}
	.page5 .p1{
		position: absolute;
		
		top:1.3rem;
		left: 2rem
	}
	.page5 .p2{
		position: absolute;
		top:2rem;
		left: 0.4rem
	}
	.page5 .p3{
		position: absolute;
		top:3.6rem;
		left: 1.7rem
	}
	.page5 .p4{
		position: absolute;
		top:4.3rem;
		left: 1.5rem
	}
	.page5 .p5{
		position: absolute;
		top:5.9rem;
		left: 1.8rem
	}