 *{margin: 0;padding: 0;}
 html{font-size: 50px;}
 body{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: "微软雅黑";
}
@keyframes rotate{
0%   {transform:rotate(0deg);}
100% {transform:rotate(360deg);}
}

@-webkit-keyframes rotate{
0%   {-webkit-transform:rotate(0deg);}

100% {-webkit-transform:rotate(360deg);}
}
.swiper-container{
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
.swiper-slide{
	
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.swiper-pagination-bullet-active{
	opacity: 1;
	background-color: blue;
}

/*音乐箭头图标*/
.music{
 	position: fixed;
 	right: 10px;
 	top: 10px;
 	width: 44px;
 	height: 44px;
 	background: url(../images/music.png) no-repeat;
	z-index: 100;
	
	}
	.musicanimation{animation:rotate 2s linear infinite ;
	-webkit-animation:rotate 2s linear infinite ;}
	
/*第一屏*/
.page1{
	position:relative;
	width: 100vw;
	height: 100vw;
	
	}


	.page1 .pic1 {
		width: 95%;
		height:95%;
		z-index: 90;
	}
	.page1 .pic2 {
		position: absolute;
		left: 20%;
		top:50%;
		width: 80px;
		height: 120px;
		z-index: 95;
	}


/*第二屏*/
.page2{
	position: relative;
	
	width: 100%;height: 100%;
	overflow: hidden;

	}
	.page2 .biankuang{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
	.page2 .ganen{
		position: absolute;
		width: 180px;
		height: 60px;
		left:30px;
		top:60px;
	}
	.page2 .xuesheng{
		position: absolute;
		top:63%;
		left:23%;

	}
	.page2 .test{
		margin: 38% auto;
		width: 73%;
		height: 40%;
		
	}
	.page2 p{
		color:rgb(110,109,109);
		font-size: 0.5rem;

	}



/*第三屏*/
.page3{
	position: relative;
	
	
	}
	.page3 .biankuang{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
	.page3 .desk{
		position: absolute;
		top:7rem;
		left: 0.6rem;
		width: 50%;


	}
	.page3 .test{
		margin-top: 20%;
		width: 80%;
		margin: 20% auto;
		font-size: 0.4rem;
		line-height: 0.85rem;

	}
	


/*第四屏*/
.page4{
	position: relative;
	}
	.page4 .happy{	
		
		position: absolute;
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
		height: 80%;
		bottom: 25px;
		
		
	}
	


